html, body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.head{
    display: grid;
    grid-template-areas: "pilha";
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    
    .slide{
        grid-area: pilha;
        background-color: whitesmoke;
        width: 100%;
        opacity: 0;
        transition: opacity 1s ease;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        .head-titulos{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;

            .texto-primario, .texto-secundario{
                color: black;
                padding-left: 10%;
                margin: 0;
                opacity: 0;
                transform: translateX(-100px);
                transition: all 1.5s ease;
            }
            
            .texto-primario{
                font-weight: 700;
                margin-bottom: .8rem;
                transition-delay: .3s;
            }

            .texto-secundario{
                font-size: .7rem;
                transition-delay: .5s;
            }

            .texto-invertido{
                transform: translateX(100px);
            }
            
            .t-ativo{
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        .banner{
            max-width: 40%;
            max-height: 80vh;
        }
    }

    .ativo{
        display: flex;
        opacity: 1;
        transition-delay: 1.2s;
    }
}

.consultas{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 3rem 0;
    color: white;
    transform: translateY(-1px);
    background: linear-gradient(120deg, #2749a5, #9db7ff);

    .title{
        text-align: center;
        font-size: 2rem;
        margin: 0 0 .8rem 0;
    }
    
    .subtitle{
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
    }

    .links-container{
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 10%;
        gap: 2rem;

        .link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 6rem;
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            gap: 1rem;
            font-weight: 600;
            border: white 3px solid;
            border-radius: 1rem;
            padding: 1rem;
        }
    }
}