html, body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.icon-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 3;
    margin: .5rem 0 0 50%;
    transform: translateX(-50%);
    
    .icon-logo{
        width: 1.5rem;
        object-fit: contain;
        margin: 0;
    }
    .icon-nome{
        width: 10rem;
        object-fit: contain;
        margin: 0;
    }
}

.head{
    display: grid;
    grid-template-areas: "pilha";
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #2749a5, #1d3474);

    .slide-fixo{
        grid-area: pilha;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: white;
        clip-path: polygon(0 0, 100% 0, 100% 92%, 55% 92%, 45% 100%, 0 100%);
    }
    
    .slide{
        grid-area: pilha;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 2rem;
        opacity: 0;
        transition: opacity 1s ease;
        visibility: hidden;
        position: relative;
        background-color: whitesmoke;
        clip-path: polygon(0 0, 100% 0, 100% 92%, 55% 92%, 45% 100%, 0 100%);

        .head-titulos{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;

            .texto-primario, .texto-secundario{
                color: black;
                padding-left: 8%;
                margin: 0;
                opacity: 0;
                transform: translateX(-100px);
                transition: all 1.5s ease;
            }
            
            .texto-primario{
                font-weight: 700;
                margin-bottom: .8rem;
                transition-delay: .2s;
            }

            .texto-secundario{
                font-size: .7rem;
                transition-delay: .4s;
            }

            .texto-invertido{
                transform: translateX(100px);
                padding-left: 0;
                padding-right: 8%;
            }
            
            .t-ativo{
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        .banner{
            max-width: 40%;
            max-height: 80vh;
            transition: all 1.5s ease;
        }
    }

    /*
    .right{
        clip-path: polygon(0 0, 100% 0, 100% 92%, 55% 92%, 45% 100%, 0 100%);
    }

    .left{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 45% 92%, 0 92%);
    }
    */

    .ativo{
        opacity: 1;
        transition-delay: 1.2s;
        visibility: visible;
        display: flex;
    }
}

.consultas{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 3rem 0;
    color: white;
    transform: translateY(-1px);
    background: linear-gradient(180deg, #2749a5, #1d3474);

    .title{
        text-align: center;
        font-size: 2rem;
        margin: 0 0 .8rem 0;
    }
    
    .subtitle{
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
    }

    .links-container{
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 10%;
        gap: 2rem;

        .link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 6rem;
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            gap: 1rem;
            font-weight: 600;
            border: white 3px solid;
            border-radius: 1rem;
            padding: 1rem;
        }
    }
}