html, body{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.head{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .slide{
        background-color: whitesmoke;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 1s ease;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        .head-titulos{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;

            .texto-primario, .texto-secundario{
                color: black;
                padding-left: 10%;
                margin: 0;
                opacity: 0;
                transform: translateX(-100px);
                transition: all 1.5s ease;
            }
            
            .texto-primario{
                font-weight: 700;
                margin-bottom: .8rem;
                transition-delay: .3s;
            }

            .texto-secundario{
                font-size: 1rem;
                transition-delay: .6s;
            }
            
            .t-ativo{
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        .banner{
            max-width: 40%;
            min-height: 100%;
        }
    }

    .ativo{
        display: flex;
        opacity: 1;
        transition-delay: 1.2s;
    }
}